.navigation{
    display: flex;
    flex-direction: row;
    height:100vh;
}

.navigation-bar{
    display: flex;
    flex-direction: column;
    width:350px;
    margin-left: 10px;
    margin-top: 10px;
    gap:8px;
}

 .bar1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.196);
    width:350px;
    padding:15px;
    border-radius: 5px;
    height:100px;
}

.navigation-bar .bar1 h3 img {
    height:20px;
    text-align: center;
}

.bar2{
     flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.196);
    border-radius:5px ;
    padding: 15px;
    height:605px;
}

.bar2-group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar2-group2{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.252);
    padding: 10px;
    height:140px;
    border-radius: 5px;
    margin-top: 10px;
}

.bar2-group2 button{
    width:150px;
    height:35px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

