.player{
    display: flex;
    flex-direction: row;
    background-color:black;
    align-items: center;
    height:70px;
    position:fixed;
    top:91%;
    bottom: 0px;
    left:0px;
    right:0px;
}
.player-items{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:100%;
    align-items: center;
}
.input-slider{
    -webkit-appearance: none;
    height:5px;
    width:5px;
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}
.input-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: darkgreen;
    border-radius: 50%;
}

